$text: #000;
$main-color: #EDEDF1;
$transition: all .5s ease;
$font: 'Inter', sans-serif;
$bg: radial-gradient(92.51% 259.21% at 57.32% 73.75%, #060606 0%, #212121 100%);

.bg {
    background: $bg;
}
